

#divBeber {
    
    text-align: center;
    size-adjust: small;
    padding:10%;
    width:40%;
    background-color:bisque;
}

#divComer {
    
    text-align: center;
    padding:10%;
    width:50%;
    background-color:bisque;
}

#divPlato{
    display: inline-block;
    width: 50%;
    background-color:grey;
}